{% extends "base.html" %}
{% block title %} POLNA KARCZMA :: Zamówienie numer {{ order.pk}} {% endblock %}
{% block content %}

<h2>Zamówienie {{ order.pk }} (stół {{ order.table.pk }})</h2>
<h3>Status zamówienia: {{order.state}} </h3>
<p>Data/czas złożenia zamówienia: {{ order.startDate }}</p>
<p>Data zakończenia (zapłacenia) zamówienia: {{ order.endDate }}</p>
<p>
<table>
	<tr>
		<th>Nazwa pozycji</th>
		<th>Sztuk</th>
		<th>Kwota</th>
	</tr>
	{% for de in delist %}
		<tr>
			<td>{{de.dish.name}} ({{de.dish.pk}})</td>
			<td>{{de.count}}</td>
			<td>{{de.count}} x {{de.dish.prize}} zł = {{de.prize}} zł</td>
			{% if order.state == 'NO' %}
			<td><a href="delEntry/{{de.pk}}">[X]</a></td>
			{% endif %}
		</tr>
	{% endfor %}
	<tr>
		<td></td>
		<td><strong>RAZEM</strong></td>
		<td>{{sum}} zł </td>
	</tr>
</table>
{% if order.state == 'NO' %}
	</p><p>-------DODAJ NOWĄ POZYCJĘ---------</p>
	<p><form action="{{order.pk}}" method="post">{% csrf_token %}
		{{ addEntryForm.as_p }}
		<input type="submit" value="Dodaj" />
	</form></p>
{% endif %}
<p>-------ZMIEŃ STATUS ZAMÓWIENIA---------</p>
<p>
{% if order.state == 'WR' %}
	<a href="changeState/{{order.pk}}/NO">Nowy</a><br/>
{% endif %}
{% if order.state == 'NO' %}
	<a href="changeState/{{order.pk}}/WR">W trakcie realizacji</a><br/>
{% endif %}
{% if order.state == 'WR' %}
	<a href="changeState/{{order.pk}}/ZR">Zrealizowany</a><br/>
{% endif %}
{% if order.state == 'ZR' %}
	<a href="changeState/{{order.pk}}/ZA">Zapłacono</a> <em>Równoznaczne ze zwolnieniem stolika</em><br/>
{% endif %}
{% if order.state == 'ZA' %}
	<p>Zamówienie zostało zrealizowane i zapłacone.</p>
{% endif %}
</p>
{% endblock %}
