{% extends "base.html" %}
{% block title %} POLNA KARCZMA :: Strona startowa {% endblock %}
{% block content %}
<p>Witamy na stronie obsługi zamówień punktu gastronomicznego "Polna karczma", zlokalizowanej w malowniczym paśmie Jury 
Krakowsko-Częstochowskiej, w miejscowości Przymiłowice-Kotyse.</p>
<p>Niniejsza strona jest demonstracją systemu obsługi zamówień. Wspomaga on pracę załogi, zwłasza w zakresie:
<ul>
	<li>obsługi zamówień;</li>
	<li>tworzenia menu/listy dań;</li>
	<li>tworzenia stolików/stołów;</li>
	<li>przeglądania zamówień pod kątem popularności dań.</li></p>
<center>
<table>
	<tr>
		<td><a href="dish/"><img src="../static/gfx/dishes.gif" /><br>Przeglądaj dania</a>
		<ul>
			<li>Dodaj nowe</li>
			<li>Zobacz szczegóły</li>
			<li>Edytuj swoje danie</li>
		</ul>
		</td>
		<td><a href="table/"><img src="../static/gfx/tables.gif" /><br>Przeglądaj stoliki</a>
		<ul>
			<li>Dodaj nowy</li>
			<li>Rezerwuj stolik</li>
			<li>Zarządzaj swoimi zamówieniami</li>
		</ul>
		</td>
	</tr>
	<tr>
		<td><a href="order/"><img src="../static/gfx/orders.gif" /><br>Przeglądaj zamówienia</a>
		<ul>
			<li>Przeglądaj zamówienia</li>
			<li>Zarządzaj swoimi zamówieniami</li>
		</ul>
		</td>
		<td><a href="statistics/"><img src="../static/gfx/statistics.gif" /><br>Przeglądaj statystyki</a>
		<ul>
			<li>Przeglądaj zamówienia</li>
			<li>Popularność poszczególnych dań</li>
		</ul>
		</td>
	</tr>
</table>
</center>	

{% endblock %}
