{% extends "base.html" %}
{% block title %} POLNA KARCZMA :: Lista stołów {% endblock %}
{% block content %}

<h2>Stoły</h2>
<p><a href="table/add">Dodaj stolik</a></p>
<ul>
	{% for table in table_list %}
		{% if table.reserved == -1 %}
			<li>Stolik numer {{ table.pk }} (maksymalnie klientów: {{ table.maxClientsCount }})
			<a href="../order/add/{{table.pk}}"> Rezerwuj </a>
			</li>
		{% else %}
			{% if table.reserved == -11 %}
				<li>Stolik numer {{ table.pk }} (maksymalnie klientów: {{ table.maxClientsCount }})
				(w trakcie tworzenia zamówienia)
				</li>
			{% else %}
				{% if table.currentWaiter == me %}
					<li><a href="order/{{table.reserved}}">
					Stolik numer {{ table.pk }} - {{ table.currentWaiter }}</a></li>
				{% else %}
					<li>Stolik numer {{ table.pk }} - {{ table.currentWaiter }}</li>
				{% endif %}
			{% endif %}
		{% endif %}
	{% endfor %}
</ul>
{% endblock %}
